<!DOCTYPE html>
<html>
  <head>
    <link href="css/finish.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Monoton|Open+Sans:800italic,800|Rokkitt|Maven+Pro' rel='stylesheet' type='text/css'> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="text">
      You're all set! Emails to your friends will be sent shortly.
        <br />
        <br />If you MUST know, you can click below reveal who got who. 
        <br />Once you leave this page though, that data will be gone.
      </p>
      <button class="reveal_button">I MUST KNOW</button>
      <p class="show_the_santas"></p>
    </div>
	</body>


  <script>
    // $(".reveal_button").click(function (data) {
    //   var show_santas = $(".show_the_santas")

    //   for (var santa in data) {
    //     if (data.hasOwnProperty(santa)) {
    //       console.log(santa + " -> " + data[santa]);
    //     }
    //   }

    //   for (var santa in data) {
    //     show_santas.text(santa).show();
    //   }

    // });
  </script>
</html>
